<div class="entity_index_container_div2">
<div class="entity_index_container_div2_inside">
  <h3 class="entity_index_container_div2_inside_h3"><%= entity.name%></h3>
  <b>$<%= entity.amount%><b>
</div>
<p class="entity_index_container_div2_time_created"><%= entity.created_at%><p>
</div>