<div class="whole_body_container">
  <%= image_tag "logo2.png", width: 200, class: "splash_container"%>
  <div class="splach_inner_div">
      <%= link_to "Log in", new_user_session_path, :class => 'nav-link text-black button_splash' %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link text-black button_splash' %>
  </div>
</div>  